.AboutPage {
  @apply py-[3rem] bg-[#eee] flex flex-col;
  &-picture {
    @apply mb-[2rem];
    border-radius: 10px;
  }
  &-subtitle {
    @apply font-roboto text-secondary font-medium text-[1.7rem] leading-[3.4rem] not-italic;
    letter-spacing: 0.05em;
  }
  p {
    @apply font-roboto font-light text-black text-[1.45rem] not-italic leading-[2.1rem] mb-[1rem];
    letter-spacing: 0.03em;
  }
  h3 {
    @apply font-roboto font-semibold text-[1.55rem] text-secondary not-italic leading-[2.1rem] mt-[2rem];
    letter-spacing: 0.05em;
  }
  h4 {
    @apply font-roboto font-semibold text-[1.45rem] text-black not-italic leading-[2.1rem] my-[.5rem];
    letter-spacing: 0.05em;
  }

  @screen tablet {
    @apply py-[4rem];
    &-picture {
      @apply mx-auto w-[50%];
    }
  }

  @screen laptop {
    padding: calc(8rem*var(--scale)) 0;
    &-content {
      @apply flex flex-row;
      margin-top: calc(2rem*var(--scale));
    }
    &-picture {
      @apply w-[48%] flex justify-center items-center m-auto;
    }
    &-info {
      @apply w-[48%];
    }
    &-subtitle {
      @apply text-[2.6rem];
    }
    p {
      font-size: calc(2rem * var(--scale));
      margin-top: calc(.5rem*var(--scale));
    }
    h3 {
      font-size: calc(2.2rem * var(--scale));
      margin-bottom: calc(1rem*var(--scale));
    }
    h4 {
      @apply font-roboto font-semibold text-[1.45rem] text-black not-italic leading-[2.1rem] my-[.5rem];
      letter-spacing: 0.05em;
    }
  }
}
