.BannerMiddle {
  @apply py-[3.5rem] px-[3rem] bg-secondary;
  &-text {
    @apply text-[#000]/80 text-center text-[1.75rem] font-roboto font-normal leading-[2.8rem] relative;
    letter-spacing: 0.02em;
  }
  @screen laptop {
    @apply bg-transparent mt-[5rem];
    background-image: var(--bg--desktop);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 30rem;

    &-text{
      @apply text-[#fff]/90 text-[3rem] w-[60%] leading-[3.7rem];
      left:calc(40rem*var(--scale));
      top:calc(5rem*var(--scale));
    }
  }
}
