.HomeLocation {
  @screen laptop {
    @apply grid;
    grid-template-columns: 58% 42%;
  }
  p,
  ul {
    @apply font-roboto font-light leading-[2.9rem] text-[1.5rem] w-[98%] text-gray-300 mt-[-1.2rem];
    @screen laptop {
      width: 100%;
      font-size: calc(1.9rem * var(--scale));
      line-height: calc(3.7rem * var(--scale));
    }
  }
  p {
    @apply text-center;
  }
  ul {
    @apply flex flex-col pl-[2rem]  mt-[1.2rem] gap-[0.5rem];
    li {
      @apply  relative mx-auto;
      /* margin-left: calc(5.2rem*var(--scale)); */
      /* margin:0 auto; */
      /* @screen phone{
         margin-left: calc(7.5rem * var(--scale));
         margin-left: 8rem;
      }
      @screen tablet{
        margin-left: 10.5rem;
      }
      @screen laptop {
        margin-left: calc(19rem * var(--scale));
        margin:0 auto;
      } */
      &::before {
        @apply text-primary absolute;
        content: '\e90d';
        left: -3.5rem;
        font-family: 'icomoon' !important;
        width: 1rem;
        height: 1rem;
        padding-inline-start: 1ch;
        margin-inline-end: 2ch;
        font-size: 1.3rem;
      }
      @screen laptop{
        /* padding-left: calc(1rem*var(--scale)); */
        &::before{
          font-size:calc(2.2rem*var(--scale));
          left:calc(-5.5rem*var(--scale));
        }
      }
    }
  }

  &-bg {
    /* @apply hidden; */
    /* @apply bg-black; */
    @media screen(laptop) {
      @apply block absolute inset-0;
    }
  }
  .Container {
    z-index: 10;
  }

  &-ctn {
    @apply relative  py-[6rem] px-[1rem];
    &::after {
      @media screen(laptop) {
        @apply absolute inset-0 bg-black/80;
        content: '';
      }
    }
    @screen laptop {
      @apply flex items-center justify-center px-0;
      order: 1;
    }
  }
  &-bg {
    img {
      filter: contrast(130%) brightness(20%) grayscale(60%);
      @screen laptop {
        filter: none;
      }
    }
  }

  &-info {
    @apply bg-white mx-auto py-[7rem] px-[3rem] isolate;
    border-radius: 2rem;
    max-width: 40rem;
    @screen laptop {
      max-width: calc(47.9rem * var(--scale));
      padding: calc(9.7rem * var(--scale)) calc(6rem * var(--scale));
      padding-bottom: calc(6.7rem * var(--scale));
    }
  }

  &-map {
    @screen laptop {
      order: 0;
    }
    iframe {
      @apply w-full;
      @screen laptop {
        height: calc(76.3rem * var(--scale));
      }
    }
  }
}
