.ProductsPage {
  @apply py-[4rem];
  &-content {
    @apply font-roboto text-[1.5rem] not-italic leading-[2.4rem] font-normal mb-[2.4rem];
  }
  @screen laptop {
    padding-top: calc(8rem * var(--scale));
    padding-bottom: calc(8rem * var(--scale));

    &-content {
      font-size: calc(1.9rem * var(--scale));
      line-height: calc(2.9rem * var(--scale));
      margin-bottom: calc(3rem * var(--scale));
      margin-top: calc(1.5rem * var(--scale));
    }
  }

  @screen laptop {
    &-main {
      @apply flex h-full w-full bg-black;
    }
    &-aside {
      @apply bg-[#fff] w-[25%] h-[80vh];
    }

    &-listProducts {
      @apply flex  h-[100vh] bg-blue w-[75%];
    }
  }
}

.Loader {
  display: inline-block;
}
