.HomeCardProduct {
  @apply flex bg-[#eee] relative gap-[4rem];
  background-image: var(--bg-mobile);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 12.7rem;
  &-title {
    @apply text-[2.4rem] text-secondary font-medium absolute top-[9rem] px-[1rem] bg-black/70 ;
  }
  &-cant {
    @apply hidden;
  }

  &-content {
    @apply absolute  inset-0 ;
    border-radius:10px;
    background: rgba(2, 1, 1, 0.3) ;
  }

  @screen laptop {
    &-cant {
      @apply block opacity-0;
      transition: all 200ms;
    }
    &:hover &-cant {
      @apply opacity-80;
    }
  }
}
