.hw-card {
   @apply bg-white relative   py-[5rem] px-[2.3rem] h-full rounded-full flex items-center justify-center flex-col mx-auto;
   width: 19.3rem;
   height: 19.3rem;
   border: 5px solid #F59E12;
   @screen laptop {
      /* padding-top: calc(6rem * var(--scale)); */
      width: calc(26.5rem * var(--scale));
      height: calc(26.5rem * var(--scale));
   }
   /* pt-7.5rem */
   &__icon {
      @apply bg-primary absolute flex items-center justify-center p-[1.2rem] rounded-full;
      width: 6.5rem;
      height: 6.5rem;
      top: -10%;
      left: -8%;
      border: 3.10508px solid #ffffff;

      @screen laptop {
         padding: calc(1.8rem * var(--scale));
         left: 1%;
         top: calc(-2.5rem * var(--scale));
         width: calc(8.4rem * var(--scale));
         height: calc(8.4rem * var(--scale));
      }

      img {
         object-fit: contain;
      }
   }
   h3 {
      @apply font-roboto font-medium text-[1.6rem] leading-[2.8rem] text-center text-content;
      @screen laptop {
         font-size: calc(2.1rem * var(--scale));
         line-height: calc(3.7rem * var(--scale));
      }
   }
   p {
      @apply font-roboto font-light text-[1.5rem] leading-[2.6rem] text-center text-content;

      @screen laptop {
         font-size: calc(1.9rem * var(--scale));
         line-height: calc(3.3rem * var(--scale));
         height: calc(9.5rem*var(--scale));
         width: 16rem;
      }
      @screen desktop{
         @apply w-full;
      }
   }
   &__arrow {
      @apply absolute;
      object-fit: contain;
      width: 6.5rem;
      height: 2rem;
      top: 0;
      right: -5.5rem;
      @screen tabletlg {
         /* right: calc(-12.65rem*var(--scale)); */
         height: calc(3rem * var(--scale));
      }
      @screen laptop {
         right: calc(-10.65rem*var(--scale));
         height: calc(3rem * var(--scale));
         width: calc(10.5rem*var(--scale));
      }
   }
}